<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New data point</title>
</head>
<body>
    <h1>Create a new data point</h1>
    <form action="/scatterplot" method="POST">
        <label>X-position (0-100):</label>
        <input name="xPos" type="number" min="0" max="100" value="0"/>
        <label>Y-position (0-100):</label>
        <input name="yPos" type="number" min="0" max="100" value="0"/>
        <button type="submit">Add data point</button>
    </form>
    <a href="/scatterplot">Back to the scatter plot</a>
</body>
</html>